/* Universal Styles */

/* Custom Variables */

:root {
  --border-radius: 10px;
}

/* End Custom Variables */


* {
    font-family: 'Times New Roman', Times, Georgia, serif, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: sienna;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 19px;
  font-style: italic;
  margin: 5px;
}


/* Body (Mobile Default) */

body {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'header'
    'nav'
    'main'
    ;
  gap: 6px;
  background-color: sienna;
  min-height: 100vh;
}

main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'about'
      'content'
      'back'
      'footer'
      ;
    gap: 6px;
    margin: 0;
    position: relative;
    top: 0;
}


/* Header */

header {
    grid-area: header;
    height: 108px;
    position: relative;
    top: 0;
    background-color: burlywood;  
    color: sienna;
    padding: 30px;
    margin: 0;
    text-align: left;
    width: 100%;
    border-top: 9px solid rgb(249, 219, 179);
    border-bottom: 5px dotted rgb(249, 219, 179);
    border-radius: var(--border-radius) 
}

header h1 {
    font-size: 41px;
    font-style: italic;
    margin: 0;
}


/* Navigation section */

nav {
  grid-area: nav;
  height: fit-content;
  position: relative;
  top: 0;
  background-color: burlywood; 
  padding: 15px;
  margin: 0;
  text-align: left;
  width: 100%;
  grid-area: nav;
  color: sienna;
  font-weight: bold;
  border: 9px solid rgb(249, 219, 179);
  border-radius: var(--border-radius);
}

nav h2 {
  margin: 0 0 10px;
  padding: 3px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 2px;
  color: burlywood;
  background-color: sienna;
  margin: 0;
  padding: 6px 16px;
  line-height: 40px;
  border: rgb(251, 230, 202) 2px solid;
  border-radius: var(--border-radius);
}

nav a:hover {
  opacity: 80%;
  color: white;
}


/* About Section */

.about {
  grid-area: about;
  background-color: burlywood; 
  padding: 15px;
  margin: 0;
  text-align: left;
  width: 100%;
  color: sienna;
  font-weight: bold;
  border: 9px solid rgb(249, 219, 179);
  border-radius: var(--border-radius);
}

.about h2 {
  margin: 0 0 10px;
  padding: 3px;
}

.about h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: black;
}


/* Content section */



.content {
  grid-area: content;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(249, 219, 179);
  overflow: auto;
  height: 100%;
  border-radius: var(--border-radius);
}

.content h2 {
  font-size: 19px;
  margin: 10px 0;
}

.content h3 {
  font-weight: normal;
}

.content img {
  max-width: 260px;
  max-height: 350px;
}

#first, #second, #third, #fourth {
  display: flex;
  align-items: center;
  flex: 1 250px;
  margin: 10px;
  border: 1px solid rgb(244, 188, 136);
  background-color: rgb(244, 188, 136);
  text-align: center;
  border-radius: var(--border-radius);
}

article {
  margin: 5px;
  width: 100%;
}




/* Back to Top section */

.back {
  grid-area: back;
  margin: 0;
  width: 100%;
  background-color: rgb(249, 219, 179);
  padding: 8px;
  text-align: center;
  border-radius: var(--border-radius);
}

.back:hover {
  opacity: 95%;
  background-color: rgb(255, 240, 221)
}



/* Footer */

footer {
  grid-area: footer;
  margin: 0;
  width: 100%;
  background-color: burlywood;
  border: 10px solid rgb(249, 219, 179);
  z-index: 1;
  border-radius: var(--border-radius);
}

footer h3 {
  font-style: italic;
  margin: 30px auto;
  text-align: center;
}


/* Media Query for non-mobile viewers */

@media (min-width: 50em) {
  body {
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main";
    gap: 6px;
    background-color: sienna;
    min-height: 100vh;
  }
  
  main {
    grid-template-columns: 19em 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'about content'
      'about back'
      'about footer'
      ;
  }
  
  .about {
    grid-row: span 2;
  }

  footer {
    grid-column: span 2;
  }

}